In [1]:
import pandas as pd
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl
import numpy as np
import warnings
import importlib
import sys
plt.rcParams["patch.force_edgecolor"] = True
plt.style.use('fivethirtyeight')
mpl.rc('patch', edgecolor = 'dimgray', linewidth=1)
%matplotlib inline

In [2]:
warnings.filterwarnings('ignore')

In [3]:
sys.path.append("..")

In [4]:
from myscripts import logger_comb

In [5]:
from myscripts import preprocess_data

In [6]:
train=pd.read_csv("../data/train.csv",low_memory=False,parse_dates=[3],index_col=[0])
print(train.shape)
train.head()

(1017209, 18)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,5,2015-07-31,6064,625,1,1,0,1,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,5,2015-07-31,8314,821,1,1,0,1,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,5,2015-07-31,13995,1498,1,1,0,1,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,5,2015-07-31,4822,559,1,1,0,1,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [7]:
test=pd.read_csv("../data/test.csv",low_memory=False,parse_dates=[4],index_col=0)
print(test.shape)
test.head()

(41088, 17)

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,1,4,2015-09-17,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,3,4,2015-09-17,1.0,1,0,0,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
2,3,7,4,2015-09-17,1.0,1,0,0,a,c,24000.0,4.0,2013.0,0,NaN,NaN,NaN
3,4,8,4,2015-09-17,1.0,1,0,0,a,a,7520.0,10.0,2014.0,0,NaN,NaN,NaN
4,5,9,4,2015-09-17,1.0,1,0,0,a,c,2030.0,8.0,2000.0,0,NaN,NaN,NaN

In [8]:
store=pd.read_csv("../data/store.csv",low_memory=False)
store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [9]:
# sample=pd.read_csv("../data/sample_submission.csv",low_memory=False)
# print(sample.shape)
# sample.head()

In [10]:
cat_cols=['PromoInterval','StoreType','StateHoliday','Assortment','Date']

In [11]:
importlib.reload(preprocess_data)

In [12]:
cleaner_train=preprocess_data.clean_data(train)
cleaner_test=preprocess_data.clean_data(test)

In [13]:
test.isna().sum()

Id                               0
Store                            0
DayOfWeek                        0
Date                             0
Open                            11
Promo                            0
StateHoliday                     0
SchoolHoliday                    0
StoreType                        0
Assortment                       0
CompetitionDistance             96
CompetitionOpenSinceMonth    15216
CompetitionOpenSinceYear     15216
Promo2                           0
Promo2SinceWeek              17232
Promo2SinceYear              17232
PromoInterval                17232
dtype: int64

In [14]:
#fix outlier

In [15]:
train=cleaner_train.fix_outliers(train,['Sales','Customers','CompetitionDistance'])
test=cleaner_test.fix_outliers(test,['CompetitionDistance'])

In [16]:
# Impute Missing Values

In [17]:
train.isna().sum()

Store                             0
DayOfWeek                         0
Date                              0
Sales                             0
Customers                         0
Open                              0
Promo                             0
StateHoliday                      0
SchoolHoliday                     0
StoreType                         0
Assortment                        0
CompetitionDistance            2642
CompetitionOpenSinceMonth    323348
CompetitionOpenSinceYear     323348
Promo2                            0
Promo2SinceWeek              508031
Promo2SinceYear              508031
PromoInterval                508031
dtype: int64

In [18]:
test.isna().sum()

Id                               0
Store                            0
DayOfWeek                        0
Date                             0
Open                            11
Promo                            0
StateHoliday                     0
SchoolHoliday                    0
StoreType                        0
Assortment                       0
CompetitionDistance             96
CompetitionOpenSinceMonth    15216
CompetitionOpenSinceYear     15216
Promo2                           0
Promo2SinceWeek              17232
Promo2SinceYear              17232
PromoInterval                17232
dtype: int64

In [19]:
train[train['Promo2']==0]

# based on the table above where we have promo2 is equal to 0 means that store is not participating,
# the last three columns should be null. we can replace by them by 0 to mean that they are not available
#We shall do the same to test data

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263.000000,555.000000,1,1,0,1,c,a,1270.000000,9.0,2008.0,0,NaN,NaN,NaN
3,4,5,2015-07-31,5770.401742,627.693439,1,1,0,1,c,c,620.000000,9.0,2009.0,0,NaN,NaN,NaN
4,5,5,2015-07-31,4822.000000,559.000000,1,1,0,1,a,a,5430.085652,4.0,2015.0,0,NaN,NaN,NaN
5,6,5,2015-07-31,5651.000000,589.000000,1,1,0,1,a,a,310.000000,12.0,2013.0,0,NaN,NaN,NaN
6,7,5,2015-07-31,5770.401742,627.693439,1,1,0,1,a,c,5430.085652,4.0,2013.0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017201,1108,2,2013-01-01,0.000000,0.000000,0,0,a,1,a,a,540.000000,4.0,2004.0,0,NaN,NaN,NaN
1017203,1110,2,2013-01-01,0.000000,0.000000,0,0,a,1,c,c,900.000000,9.0,2010.0,0,NaN,NaN,NaN
1017205,1112,2,2013-01-01,0.000000,0.000000,0,0,a,1,c,c,1880.000000,4.0,2006.0,0,NaN,NaN,NaN
1017206,1113,2,2013-01-01,0.000000,0.000000,0,0,a,1,a,c,9260.000000,NaN,NaN,0,NaN,NaN,NaN
1017207,1114,2,2013-01-01,0.000000,0.000000,0,0,a,1,a,c,870.000000,NaN,NaN,0,NaN,NaN,NaN

In [20]:
cleaner_train.filling_nan(train,['Promo2SinceWeek','Promo2SinceYear',],0)
cleaner_test.filling_nan(test,['Promo2SinceWeek','Promo2SinceYear',],0)

In [21]:
cleaner_train.filling_nan(train,['PromoInterval'],"0,0,0,0") #we have to replace with four zeros since we have four variables 
cleaner_test.filling_nan(test,['PromoInterval'],"0,0,0,0")

In [22]:
store[store['CompetitionOpenSinceYear'].isna()].head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
11,12,a,c,1070.0,NaN,NaN,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
12,13,d,a,310.0,NaN,NaN,1,45.0,2009.0,"Feb,May,Aug,Nov"
15,16,a,c,3270.0,NaN,NaN,0,NaN,NaN,NaN
18,19,a,c,3240.0,NaN,NaN,1,22.0,2011.0,"Mar,Jun,Sept,Dec"
21,22,a,a,1040.0,NaN,NaN,1,22.0,2012.0,"Jan,Apr,Jul,Oct"

we can see that for the first two rows, the store is starting but we have null values in CompetitionOpenSinceMonth and CompetitionOpenSinceYear. Therefore, we can impute the missing values by filling with minimun values since that nan values might be due to the fact there were already the competition since the store open

In [23]:
cleaner_train.filling_nan(train,['CompetitionOpenSinceMonth'],train.CompetitionOpenSinceMonth.min())
cleaner_train.filling_nan(train,['CompetitionOpenSinceYear'],train.CompetitionOpenSinceMonth.min())
cleaner_test.filling_nan(test,['CompetitionOpenSinceMonth'],test.CompetitionOpenSinceYear.min())
cleaner_test.filling_nan(test,['CompetitionOpenSinceYear'],test.CompetitionOpenSinceYear.min())

In [24]:
# Impute competition distance with mean

In [25]:
cleaner_train.filling_nan(train,['CompetitionDistance'],train.CompetitionDistance.mean())
cleaner_test.filling_nan(test,['CompetitionDistance'],test.CompetitionDistance.mean())
cleaner_test.filling_nan(test,['Open'],1)

In [26]:
# make Date related features

In [27]:
train=cleaner_train.make_datefeatures(train,'Date')
test=cleaner_test.make_datefeatures(test,'Date')

In [28]:
['StateHoliday','StoreType','Assortment','PromoInterval']

['StateHoliday', 'StoreType', 'Assortment', 'PromoInterval']

In [29]:
# label encoding categorical columns

In [30]:
train=cleaner_train.label_encoder(train)
test=cleaner_test.label_encoder(test)

In [31]:
#Feature Selection

In [32]:
import statsmodels.api as sm
# from sklearn.model_selection import train_test_split
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.metrics import f1_score,confusion_matrix
# from sklearn.metrics import accuracy_score

In [33]:
# def forward_regression(X, y,
#                        threshold_in,
#                        verbose=False):
#     initial_list = []
#     included = list(initial_list)
#     while True:
#         changed=False
#         excluded = list(set(X.columns)-set(included))
#         new_pval = pd.Series(index=excluded)
#         for new_column in excluded:
#             model = sm.OLS(y, sm.add_constant(pd.DataFrame(X[included+[new_column]]))).fit()
#             new_pval[new_column] = model.pvalues[new_column]
#         best_pval = new_pval.min()
#         if best_pval < threshold_in:
#             best_feature = new_pval.idxmin()
#             included.append(best_feature)
#             changed=True
#             if verbose:
#                 print('Add  {:30} with p-value {:.6}'.format(best_feature, best_pval))

#         if not changed:
#             break

#     return included,model

In [34]:
X=train[train.columns.difference(['Sales','Date']).to_list()]
Y=train['Sales']

In [35]:
# cols_pass,model_ols=forward_regression(X,Y,0.04,verbose=True)

In [36]:
corr=X.corr()

In [37]:
columns = np.full((corr.shape[0],), True, dtype=bool)
for i in range(corr.shape[0]):
    for j in range(i+1, corr.shape[0]):
        if corr.iloc[i,j] >= 0.9:
            if columns[j]:
                columns[j] = False

In [38]:
# Selected column
cols_pass=X.columns[columns].to_list()
cols_dropped_corr=X.columns[~columns].to_list()

In [39]:
print('Number of selected cols: {}'.format(len(cols_pass)))
cols_pass

Number of selected cols: 18

['Assortment',
 'CompetitionDistance',
 'CompetitionOpenSinceMonth',
 'CompetitionOpenSinceYear',
 'Customers',
 'DayOfWeek',
 'DayOfYear',
 'Open',
 'Promo',
 'Promo2',
 'Promo2SinceWeek',
 'PromoInterval',
 'SchoolHoliday',
 'StateHoliday',
 'Store',
 'StoreType',
 'Years',
 'dayType']

In [40]:
# MinMax Scale the Dataframe

In [41]:
train=train[cols_pass+['Sales']]

In [42]:
cols_pass.remove('Customers')

In [43]:
test=test[cols_pass]

In [44]:
train=cleaner_train.scale_data(train)
test=cleaner_test.scale_data(test)

In [45]:
#Save clean and fixed train and test dataframes
test

,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,DayOfWeek,DayOfYear,Open,Promo,Promo2,Promo2SinceWeek,PromoInterval,SchoolHoliday,StateHoliday,Store,StoreType,Years,dayType
0,0.0,0.067240,0.004213,0.939130,0.500000,1.0,1.0,1.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
1,0.0,0.759010,0.005793,0.921739,0.500000,1.0,1.0,1.0,1.0,0.285714,0.333333,0.0,0.0,0.001795,0.333333,0.0,0.0
2,0.5,0.272651,0.001580,0.982609,0.500000,1.0,1.0,1.0,0.0,0.000000,0.000000,0.0,0.0,0.005386,0.333333,0.0,0.0
3,0.0,0.403443,0.004739,0.991304,0.500000,1.0,1.0,1.0,0.0,0.000000,0.000000,0.0,0.0,0.006284,0.333333,0.0,0.0
4,0.5,0.108123,0.003686,0.869565,0.500000,1.0,1.0,1.0,0.0,0.000000,0.000000,0.0,0.0,0.007181,0.333333,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41083,0.0,0.101130,0.002633,0.991304,0.833333,0.0,1.0,0.0,1.0,0.632653,0.333333,0.0,0.0,0.996409,0.333333,0.0,1.0
41084,0.5,0.100054,0.001580,0.921739,0.833333,0.0,1.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.997307,0.000000,0.0,1.0
41085,0.5,0.497041,1.000000,0.000000,0.833333,0.0,1.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.998205,0.333333,0.0,1.0
41086,0.5,0.045724,1.000000,0.000000,0.833333,0.0,1.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.999102,0.333333,0.0,1.0
41087,0.5,0.286713,1.000000,0.000000,0.833333,0.0,1.0,0.0,1.0,0.448980,1.000000,1.0,0.0,1.000000,0.666667,0.0,1.0

In [46]:
train.to_csv('../data/train_model.csv')
test.to_csv('../data/test_model.csv')